@media screen and (min-width: 1440px) {
        .cartao--recentes{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
        
    }
    .cartao__link{
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--links);
        justify-self: flex-end;
    }
    .cartao__lista{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }
    .cartao__item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }
    .recentes__miniatura{
        width: 32px;
        grid-row: span 2;
    }
    .cartao__item-titulo{
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: bold;
    }
    .cartao__item-perfil{
        font-size: 0.8rem;
        color: var(--fonte-alternativa);
    }
}
