.pico__conteudo{
    padding: 24px 16px;
    display: grid;
    row-gap: 16px;
    margin-bottom: 35px;
}
.pico__imagem{
    width: 100vw;
}
.pico__conteudo-titulo{
    font-size: 1.2rem;
    font-weight: bold;
}
.pico__descricao__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.pico__descricao__info-perfil{
    font-weight: 400;
    display: flex;
    align-items: center;
}
.pico__descricao__info-perfil::before{
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 8px;
    background-image: url(../img/profile_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.pico__descricao__info-visualização{
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.pico__descricao__info-visualização::before{
    content:var(--visualização);
    margin-right: 5px;
}
.pico__conteudo-texto{
    line-height: 2rem;
}
.pico__conteudo-localizacao{
    width: 100%;
    height: 300px;
    background-image: url(../img/artigo_2.png);
    background-size: cover;
    background-position:center;
}
.pico__conteudo__imagem{
    width: 100%;
}
.secao_picos{
    display: none;
}
@media screen and (min-width: 1440px) {
    .pico__conteudo{
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 2;
        grid-template-areas: 
        "pico__imagem pico__imagem mais-vistos"
        "conteudo-pico conteudo-pico mais-vistos "
        ;
    }
    .pico__imagem{
        width: 100%;
        border-radius: 25px;
        grid-area: pico__imagem;
    }
    .conteudo-pico{
        grid-area: conteudo-pico;
    }
    .secao_picos{
        display: block;
    }
    .mais-vistos{
        grid-row: span 2;
    }
    .pico__conteudo__descricao{
        display: grid;
        gap: 16px;
    }
    .pico__conteudo-titulo{
        font-size: 2rem;
    }
    .pico__descricao__info{
        
    }
}