.principal__picos{
    display: grid;
    row-gap: 16px;
    margin-bottom: 51px;
}
.bannner_descricaoPico{
    width: 100%;
}
.sessao_decricaoPico{
    display: grid;
    row-gap: 16px;
    margin: 0px 16px;
}
.picoDescricao__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sessao_decricaoPico-mapa{
    background-image: url(../img/artigo_2.png);
    height: 256px;
    width: 100%;
    border-radius: 15px;
    background-size: cover;
}
.sessao_decricaoPico-imagens{
    width: 100%;
}